AWS_REGION=us-east-1

KAFKA_BROKERS=broker-1.lakepulse.internal:9092,broker-2.lakepulse.internal:9092

RAW_BUCKET=lakepulse-raw-ingestion-dev
PROCESSED_BUCKET=lakepulse-processed-data-dev

CHECKPOINT_BUCKET=lakepulse-streaming-checkpoints-dev

AIRFLOW_ENV=development